
.home {
    background-image: url("../../public/images/home.png");
    width: 100vw;
    height: 768vh;
    // opacity: 0.20;
}
.welcome {
    width: 579px;
    height: 48px;
    object-fit: contain;
    font-family: STHeitiTC;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #faa916;
  }

  

