.home {
    .home-background {
        width: 100vw;
        height: 140vh;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .welcome {
        font-family: inherit;
        font-size: 48px;
        font-weight: 500;
        color: #faa916;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 

    p {
        color: white;
        font-size: 36px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        width: 100px;
        height: 80px;
    }

    .pick-roles {
        color: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .roles {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .options {
        padding: 40px;
    }
}

  

